{{template "base_template" .}}

{{define "title"}}
My Profile
{{end}}

{{define "body"}}
<div class="jumbotron">
    <div class="container">
        <h3>ABOUT THIS WEBSITE</h3>
        <p>
        <strong>Welcome !!!</strong> 
        <br>
        This website is created to show up something about me and let you to know more about me. 
        Hope you could enjoy it. 
        <br>
        If you have anything to say to me, feel free to email me :)
        </p>
    </div>
</div>

<div class="container">
    <div class="card-group pt-5">
        <div class="card bg-light">
            <div class="card-body text-center">
                <h4 class="card-title">ACADEMIC BACKGROUND</h4>
                <p class="card-text">
                    Pursueing degree in Bachelor of Computer Science (Data Science) at Univeristy of Malaya
                    which is expected to be ended in year 2023 and currently having an overall CGPA 3.99
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-group pt-5">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">SKILLS PROFICIENCY LEVEL</h4>
                <p>
                    <img src="static/pic/java.png" title="Java" alt="Java" width=60px height=60px/>
                    <span class="proficiency_title">Java</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar expert" style="width: 85%">85%</div>
                </div>
            
                <p>
                    <img src="static/pic/C++.png" title="C++" alt="C++" width=60px height=60px/>
                    <span class="proficiency_title">C++</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar average" style="width: 40%">40%</div>
                </div>
            
                <p>
                    <img src="static/pic/python.png" title="Python" alt="Python" width=60px height=60px/>
                    <span class="proficiency_title">Python</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar expert" style="width: 85%">85%</div>
                </div>
            
                <p>
                    <img src="static/pic/R.png" title="R" alt="R" width=60px height=60px/>
                    <span class="proficiency_title">R</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar skilled" style="width: 60%">60%</div>
                </div>
            
                <p>
                    <img src="static/pic/html.png" title="HTML" alt="HTML" width=60px height=60px/>
                    <span class="proficiency_title">HTML</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar specialist" style="width: 80%">80%</div>
                </div>
            
                <p>
                    <img src="static/pic/css.png" title="CSS" alt="CSS" width=60px height=60px/>
                    <span class="proficiency_title">CSS</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar average" style="width: 45%">45%</div>
                </div>
            
                <p>
                    <img src="static/pic/javascript.png" title="JavaScript" alt="JavaScript" width=60px height=60px/>
                    <span class="proficiency_title">JavaScript</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar specialist" style="width: 80%">80%</div>
                </div>
            
                <p>
                    <img src="static/pic/postgresql.png" title="PostgreSQL" alt="PostgreSQL" width=60px height=60px/>
                    <span class="proficiency_title">PostgreSQL</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar expert" style="width: 85%">85%</div>
                </div>
            
                <p>
                    <img src="static/pic/golang.png" title="Golang" alt="Golang" width=60px height=60px/>
                    <span class="proficiency_title">Golang</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar average" style="width: 50%">50%</div>
                </div>
            
                <p>
                    <img src="static/pic/docker.png" title="Docker" alt="Docker" width=60px height=60px/>
                    <span class="proficiency_title">Docker</span>
                </p>
                <div class="proficiency_container">
                <div class="proficiency_bar skilled" style="width: 70%">70%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-group pt-5 pb-5">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">LANGUAGES PROFICIENCY LEVEL</h4>
                    <p>
                        <span class="proficiency_title">Chinese</span>
                    </p>
                    <div class="proficiency_container">
                        <div class="proficiency_bar expert" style="width: 90%">90%</div>
                    </div>
                    <p>
                        <span class="proficiency_title">Malay</span>
                    </p>
                    <div class="proficiency_container">
                        <div class="proficiency_bar skilled" style="width: 60%">60%</div>
                    </div>
                    <p>
                        <span class="proficiency_title">English</span>
                    </p>
                    <div class="proficiency_container">
                        <div class="proficiency_bar specialist" style="width: 80%">80%</div>
                    </div>
            </div>
        </div>
    </div>
</div>
{{end}}
